*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', monospace;
  color: #F9AE51;
  letter-spacing: 1.5px;
}

/*body*/

#body{
  background: #303841;
}

/*Navbar*/

.brand{
  margin-left: 20px;
}

.ms-auto{
  margin-right: 15px;
}

.fox{
  height: 80px;
  margin-left: 20px;
  margin-top: 3px;
  margin-right: -20px;
}

/*Home*/
.home{
  margin-top: 20px;
  background: #2E3238;
}

.home-card{
  margin: 30px;
}

/*Page404*/

.error_div{
  text-align: center;
}

.error_link{
  margin-top: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #F9AE51;
}

.error_link:hover{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caption{
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*LoginForm*/

.login-form{
  margin-top: 20px;
  border: 7px solid gray;
}

.login-form h2{
  text-align: center;
  margin: 10px;
  padding: 5px;
}

/*RegisterForm*/

.register-form{
  margin-top: 20px;
  border: 7px solid gray;
}

.register-form h2{
  text-align: center;
  margin: 10px;
  padding: 5px;
}

/*Products*/

#Card{
  margin-top: 30px;
  background-color: #22262A;
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.image{
  height: 200px;
  margin: 10px 5px;
  padding: 15px;
}

/*ProductsForm*/

#Card .products-id{
  width: 81%;
  background-color: transparent;
  color: #F9AE51;
}

#Card .products-quantity{
  width: 40%;
}

/*cartPage*/
.cartPage-h4{
  display: inline;
  padding: 10px;
  margin-right: 30px;
  border: 7px solid gray;
}

.check-btn{
  text-align: right;
}